@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-area {
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}
